# Copyright (c) 2024 Telink Semiconductor
# SPDX-License-Identifier: Apache-2.0

config BOARD_TL3238X
	bool "Telink TL323X Platform"
	depends on SOC_RISCV_TELINK_TL323X

config BOARD_TL3238X_RETENTION
	bool "Telink TL323X Platform with retention"
	depends on SOC_RISCV_TELINK_TL323X
