/*
 * Copyright (c) 2026 Telink Semiconductor
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	st25dv_app: st25dv {
		compatible = "st25dv";
		i2c-bus = <&i2c>;
		isr-port = <&gpioe>;
		isr-port-pin = <5>;
	};
};

&i2c {
	status = "okay";
	pinctrl-0 = < &i2c_scl_pe6_default &i2c_sda_pe7_default >;
};

&gpioe {
	status = "okay";
};
