# Copyright (c) 2026 Telink Semiconductor
# SPDX-License-Identifier: Apache-2.0

config PLIC_TELINK
	bool "Telink Interrupt Controller (PLIC)"
	default y
	depends on DT_HAS_TELINK_PLIC_ENABLED
	select MULTI_LEVEL_INTERRUPTS
	select 2ND_LEVEL_INTERRUPTS
	help
	  Platform Level Interrupt Controller provides support
	  for external interrupt lines defined by the RISC-V SoC.
