# Copyright (c) 2022 Carlo Caione <ccaione@baylibre.com>
# SPDX-License-Identifier: Apache-2.0

config PLIC_TELINK
	bool "Telink Interrupt Controller (PLIC)"
	default y
	depends on DT_HAS_TELINK_PLIC_ENABLED
	select MULTI_LEVEL_INTERRUPTS
	select 2ND_LEVEL_INTERRUPTS
	help
	  Platform Level Interrupt Controller provides support
	  for external interrupt lines defined by the RISC-V SoC.

if PLIC_TELINK

config PLIC_TELINK_SHELL
	bool "PLIC shell commands"
	depends on SHELL
	help
	  Enable additional shell commands useful for debugging.
	  Caution: This can use quite a bit of RAM (PLICs * IRQs * sizeof(uint16_t)).

if PLIC_TELINK_SHELL

config PLIC_TELINK_SHELL_IRQ_COUNT
	bool "IRQ count shell commands"
	default y
	help
	  Records the number of hits per interrupt line and provide shell commands to access them.
	  Caution: This can use quite a bit of RAM (PLICs * IRQs * sizeof(PLIC_IRQ_COUNT_TYPE)).

endif # PLIC_TELINK_SHELL

endif # PLIC_TELINK
