/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

// &zephyr_udc0 {
// 	cdc_acm_uart0 {
// 		compatible = "zephyr,cdc-acm-uart";
// 	};

// 	cdc_acm_uart1 {
// 		compatible = "zephyr,cdc-acm-uart";
// 	};
// };
&cpu0 {
	clock-frequency = <192000000>;		/* USB0 digital voltage must be 1.1V and HCLK min's 48M */
};

&uart0 {
	status = "okay";
	current-speed = <2000000>;			/* Baud rate for serial port logging */
};
