# Copyright (c) 2025 Telink Semiconductor
# SPDX-License-Identifier: Apache-2.0

config TELINK_W91_OPUS_CODEC
	bool "Telink W91 OPUS CODEC"
	default n
	help
		This option allows Telink W91 OPUS CODEC library usage.

if TELINK_W91_OPUS_CODEC

config TELINK_W91_OPUS_LIB_VERSION
	int "Telink W91 OPUS library GCC version"
	default 12
	help
		This option defines Telink W91 OPUS library GCC version.

# BLOCKING, RAMCODE not needed

endif # TELINK_W91_OPUS_CODEC
