#
# Copyright (c) 2023 - 2026 Telink Semiconductor
#
# SPDX-License-Identifier: Apache-2.0
#

config ST25DVXXKC
	bool "ST25DVXXKC NFC tag driver"
	default y
	depends on DT_HAS_ST_ST25DVXXKC_ENABLED
	select I2C
	help
		Enable I2C-based driver for ST25DVXXKC NFC tag.

if ST25DVXXKC

choice ST25DVXXK_LOG_LEVEL
	prompt "ST25DVXXK driver log level"
	help
		This option selects log level for ST25DVXXK driver.
config ST25DVXXKC_LOG_LEVEL_ERR
	bool "Error"
config ST25DVXXKC_LOG_LEVEL_WRN
	bool "Warning"
config ST25DVXXKC_LOG_LEVEL_INF
	bool "Information"
config ST25DVXXKC_LOG_LEVEL_DBG
	bool "Debug"
endchoice

config ST25DVXXKC_LOG_LEVEL
	int
	default 1 if ST25DVXXKC_LOG_LEVEL_ERR
	default 2 if ST25DVXXKC_LOG_LEVEL_WRN
	default 3 if ST25DVXXKC_LOG_LEVEL_INF
	default 4 if ST25DVXXKC_LOG_LEVEL_DBG
	default 0

config ST25DVXXKC_INIT_PRIORITY
	int "ST25DVXXKC NFC driver init priority"
	default 75

endif # ST25DVXXKC
