# Copyright (c) 2024-2026 Telink Semiconductor
# SPDX-License-Identifier: Apache-2.0

# Telink TL521X WDT configuration options
config WDT_TELINK_TL521X
	bool "Telink TL521X series Watchdog (WDT) Driver"
	default y
	depends on DT_HAS_TELINK_TL521X_WATCHDOG_ENABLED
	help
	  Enable WDT driver for Telink TL521X-series MCUs.
