# Copyright (c) 2026 Telink Semiconductor
# SPDX-License-Identifier: Apache-2.0

# Telink TL521X UART configuration options

config UART_TELINK_TL521X
	bool "Telink TL521X UART driver"
	default y
	depends on DT_HAS_TELINK_TL521X_UART_ENABLED
	select SERIAL_HAS_DRIVER
	select SERIAL_SUPPORT_INTERRUPT
	help
	  This option enables the TL521X serial driver.
