#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/input/keymap.h>

/ {
	kbd: kbd-matrix {
		compatible = "gpio-kbd-matrix";
		row-gpios = <&gpiob 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
					<&gpiob 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		col-gpios = <&gpiob 6 GPIO_ACTIVE_LOW>,
					<&gpiob 7 GPIO_ACTIVE_LOW>;
		idle-mode = "interrupt";
		kbd_keymap: kbd-matrix-map {
			compatible = "input-keymap";
			keymap = <MATRIX_KEY(0, 0, INPUT_KEY_1)
						MATRIX_KEY(0, 1, INPUT_KEY_2)
						MATRIX_KEY(1, 0, INPUT_KEY_3)
						MATRIX_KEY(1, 1, INPUT_KEY_4)>;
			row-size = <2>;
			col-size = <2>;
		};
	};

	/delete-node/ keys;
	/delete-node/ key_pool;
	/delete-node/ key_matrix;

	aliases {
		/delete-property/ sw0;
		/delete-property/ sw1;
		/delete-property/ sw2;
		/delete-property/ sw3;
		/delete-property/ mcuboot-button0;
	};
};
