# Copyright (c) 2026 Telink Semiconductor
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_TELINK_TLSR

rsource "*/Kconfig"
if IEEE802154
rsource "common/ot_rcp/Kconfig.ot_rcp"
endif # IEEE802154
if SOC_RISCV_TELINK_W9X
rsource "common/ipc/Kconfig.ipc"
rsource "common/blocking_core/Kconfig.blocking"
rsource "common/core_heartbeat/Kconfig.heartbeat"
rsource "common/otbr/Kconfig.otbr"
rsource "common/opus/Kconfig.opus"
endif # SOC_RISCV_TELINK_W9X

endif # SOC_FAMILY_TELINK_TLSR
