# Copyright (c) 2026 Telink Semiconductor
# SPDX-License-Identifier: Apache-2.0

choice SOC_TELINK_TLSR_CHOICE
	prompt "Telink TLSR Family SoCs implementation"
	default SOC_RISCV_TELINK_TLSR_NONE

config SOC_RISCV_TELINK_TLSR_NONE
	bool "TLSR family SoC deselected"
	help
	  No TLSR family SoC selected

config SOC_RISCV_TELINK_B91
	bool "Telink B91 SoC implementation"
	select SOC_RISCV_TELINK_B9X
	help
	  Telink B91

config SOC_RISCV_TELINK_B92
	bool "Telink B92 SoC implementation"
	select SOC_RISCV_TELINK_B9X
	help
	  Telink B92

config SOC_RISCV_TELINK_W91
	bool "Telink W91 SoC implementation"
	select SOC_RISCV_TELINK_W9X
	help
	  Telink W91

endchoice

config SOC_FAMILY_TELINK_TLSR
	bool

config SOC_FAMILY
	default "telink_tlsr" if SOC_FAMILY_TELINK_TLSR

rsource "*/Kconfig.soc"
