# Copyright (c) 2024-2026 Telink Semiconductor
# SPDX-License-Identifier: Apache-2.0

config PINCTRL_TELINK_TL521X
	bool "Telink TL521X-series pin controller driver"
	default y
	depends on DT_HAS_TELINK_TL521X_PINCTRL_ENABLED
	help
	  Enables Telink TL521X-series pin controller driver
